Repository kioku-project/kioku, pull requests merged in 2023-12, with the labels that each got.

#211 Add ids for login and register e2e test
  frontend/components/layout/Header.tsx
  frontend/components/navigation/Tabs/DecksTab.tsx
  frontend/pages/login.tsx
Labels: Frontend, Test

#214 Fix early congratulation on learning page
  frontend/pages/deck/[id]/learn.tsx
  frontend/util/swr.ts
Labels: bug, Frontend

#216 Update tabs to be responsive
  frontend/components/deck/Deck.tsx
  frontend/components/deck/DeckList.tsx
  frontend/components/flashcard/CardList.tsx
  frontend/components/navigation/Tabs/DecksTab.tsx
  frontend/components/navigation/Tabs/TabBar.tsx
  frontend/components/navigation/Tabs/TabHeader.stories.ts
  frontend/components/navigation/Tabs/TabHeader.tsx
  frontend/pages/_app.tsx
  frontend/pages/deck/[id]/index.tsx
  frontend/pages/group/[id]/index.tsx
  frontend/pages/index.tsx
Labels: enhancement, Frontend

#215 Add CreateDeckModal component
  frontend/components/deck/Deck.tsx
  frontend/components/flashcard/Flashcard.tsx
  frontend/components/form/InputField.tsx
  frontend/components/input/Button.stories.ts
  frontend/components/input/Button.tsx
  frontend/components/input/DangerAction.tsx
  frontend/components/input/InputAction.tsx
  frontend/components/input/ToggleButtonGroup.tsx
  frontend/components/layout/Header.tsx
  frontend/components/modal/CreateDeckModal.tsx
  frontend/components/modal/modal.tsx
  frontend/components/navigation/Navbar.tsx
  frontend/components/navigation/Tabs/DeckSettingsTab.tsx
  frontend/components/navigation/Tabs/DecksTab.tsx
  frontend/locales/de/messages.po
  frontend/locales/de/messages.ts
  frontend/locales/en/messages.po
  frontend/locales/en/messages.ts
  frontend/pages/home.tsx
  frontend/pages/login.tsx
Labels: enhancement, Frontend, Design

#222 Fix deck api requests
  backend/pkg/model/userCardBinding.go
  backend/services/frontend/handler/frontend.go
Labels: bug, Backend
