Repository kioku-project/kioku, pull requests merged in 2023-10, with the labels that each got.

#68 Account deletion and leave group logic
  backend/kioku-api.postman_collection.json
  backend/pkg/helper/errors.go
  backend/pkg/model/cardside.go
  backend/pkg/model/groupUserRole.go
  backend/pkg/model/revlog.go
  backend/pkg/model/userCardBinding.go
  backend/services/collaboration/handler/collaboration.go
  backend/services/collaboration/proto/collaboration.pb.go
  backend/services/collaboration/proto/collaboration.pb.micro.go
  backend/services/collaboration/proto/collaboration.proto
  backend/services/collaboration/proto/health.pb.go
  backend/services/frontend/handler/frontend.go
  backend/services/frontend/main.go
  backend/services/user/handler/user.go
  backend/services/user/proto/health.pb.go
  backend/services/user/proto/user.pb.go
  backend/services/user/proto/user.pb.micro.go
  backend/services/user/proto/user.proto
  backend/store/postgres.go
  backend/store/store.go
  frontend/components/navigation/Tabs/GroupSettingsTab.tsx
  frontend/components/navigation/Tabs/UserSettingsTab.tsx
Labels: enhancement, Backend

#90 added: SRS Service to production build job
  .github/workflows/release.yml
Labels: bug, Backend

#93 implemented promotion and demotion logic
  backend/kioku-api.postman_collection.json
  backend/pkg/converter/typeConverter.go
  backend/services/collaboration/handler/collaboration.go
  backend/services/collaboration/proto/collaboration.pb.go
  backend/services/collaboration/proto/collaboration.pb.micro.go
  backend/services/collaboration/proto/collaboration.proto
  backend/services/frontend/handler/frontend.go
  backend/services/frontend/main.go
  backend/store/postgres.go
  backend/store/store.go
Labels: enhancement, Backend

#96 added kick member logic
  backend/kioku-api.postman_collection.json
  backend/services/collaboration/handler/collaboration.go
  backend/services/collaboration/proto/collaboration.pb.go
  backend/services/collaboration/proto/collaboration.pb.micro.go
  backend/services/collaboration/proto/collaboration.proto
  backend/services/frontend/handler/frontend.go
  backend/services/frontend/main.go
Labels: enhancement, Backend

#97 Update frontend dependencies and minor improvements
  frontend/components/flashcard/CardList.tsx
  frontend/components/form/FormButton.tsx
  frontend/components/statistics/StatisticOverview.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/deck/[id]/learn.tsx
  frontend/pages/features.tsx
  frontend/pages/home.tsx
  frontend/pages/index.tsx
  frontend/pages/login.tsx
Labels: bug, Dependencies, Frontend

#105 Backend nits & go module sync
  backend/go.mod
  backend/go.sum
  backend/services/carddeck/handler/carddeck.go
  backend/services/srs/handler/srs.go
Labels: Dependencies, Backend, Refactor

#106 new readme and documentation
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/pull_request_template.md
  README.md
  backend/.env.example
  backend/README.md
  docs/backend_development.md
  docs/deployment.md
  docs/frontend_development.md
  docs/kioku.svg
  frontend/README.md
Labels: documentation, Refactor

#107 Fix visibility of create and edit card button when unauthorized
  frontend/components/flashcard/CardList.tsx
  frontend/components/flashcard/Flashcard.tsx
  frontend/components/navigation/Tabs/CardsTab.tsx
  frontend/pages/deck/[id]/index.tsx
  frontend/types/Deck.ts
Labels: bug, Frontend

#118 Fix README links
  README.md
Labels: bug, documentation

#114 Reimplement kick group member button
  frontend/components/group/Member.tsx
Labels: enhancement, Frontend, Refactor

#125 Fix login form validation
  frontend/components/form/InputField.tsx
  frontend/pages/login.tsx
Labels: bug, Frontend

#122 Improve frontend page navigation
  frontend/components/accessControl/Authenticated.tsx
  frontend/components/deck/Deck.tsx
  frontend/components/deck/DeckOverview.tsx
  frontend/components/graphics/LoadingSpinner.stories.ts
  frontend/components/graphics/LoadingSpinner.tsx
  frontend/components/layout/Header.tsx
Labels: enhancement, Frontend

#124 Fix storybook and chromatic errors
  frontend/components/deck/Deck.stories.ts
  frontend/components/deck/Deck.tsx
  frontend/components/deck/DeckOverview.stories.tsx
  frontend/components/deck/DeckOverview.tsx
  frontend/components/flashcard/CardList.tsx
  frontend/components/layout/Header.stories.ts
  frontend/components/navigation/Tabs/CardsTab.tsx
  frontend/package-lock.json
  frontend/package.json
Labels: bug, Frontend, Test, Refactor

#134 Fix header component
  frontend/components/layout/Header.tsx
  frontend/pages/deck/[id]/index.tsx
  frontend/pages/group/[id]/index.tsx
  frontend/pages/index.tsx
Labels: bug, Frontend, Test

#136 Update README.md
  README.md
Labels: documentation, Refactor

#127 Fix critical severity vulnerabilities
  backend/go.mod
  backend/go.sum
  frontend/package-lock.json
  frontend/package.json
Labels: Dependencies, Frontend

#139 Fix flashcard multiline description
  frontend/components/flashcard/Card.tsx
  frontend/components/flashcard/Flashcard.tsx
  frontend/components/form/TextArea.stories.ts
  frontend/components/form/TextArea.tsx
Labels: enhancement, Frontend

#108 Replace postman api documentation
  backend/api-documentation/bruno.json
  backend/api-documentation/cards/delete card side.bru
  backend/api-documentation/cards/delete card.bru
  backend/api-documentation/cards/get card.bru
  backend/api-documentation/cards/get cards.bru
  backend/api-documentation/cards/modify card side.bru
  backend/api-documentation/cards/modify card.bru
  backend/api-documentation/cards/new card side.bru
  backend/api-documentation/cards/new card.bru
  backend/api-documentation/decks/delete deck.bru
  backend/api-documentation/decks/get deck.bru
  backend/api-documentation/decks/get decks.bru
  backend/api-documentation/decks/get dueCards.bru
  backend/api-documentation/decks/modify deck.bru
  backend/api-documentation/decks/new deck.bru
  backend/api-documentation/decks/pull learning.bru
  backend/api-documentation/decks/push learning.bru
  backend/api-documentation/environments/kioku.bru
  backend/api-documentation/groups/delete group.bru
  backend/api-documentation/groups/get group.bru
  backend/api-documentation/groups/get groups.bru
  backend/api-documentation/groups/get invitations.bru
  backend/api-documentation/groups/get members.bru
  backend/api-documentation/groups/get requests.bru
  backend/api-documentation/groups/invite user.bru
  backend/api-documentation/groups/kick member.bru
  backend/api-documentation/groups/leave group.bru
  backend/api-documentation/groups/manage invitation.bru
  backend/api-documentation/groups/manage request.bru
  backend/api-documentation/groups/modify group.bru
  backend/api-documentation/groups/new group.bru
  backend/api-documentation/groups/promote or demote.bru
  backend/api-documentation/groups/request join.bru
  backend/api-documentation/user/delete user.bru
  backend/api-documentation/user/get dueCards.bru
  backend/api-documentation/user/get invitations.bru
  backend/api-documentation/user/get user.bru
  backend/api-documentation/user/login.bru
  backend/api-documentation/user/register.bru
  backend/kioku-api.postman_collection.json
Labels: documentation, Backend

#126 Refactor login page and client side form validation
  frontend/Dockerfile
  frontend/components/Text.stories.ts
  frontend/components/Text.tsx
  frontend/components/flashcard/Flashcard.tsx
  frontend/components/form/InputField.stories.ts
  frontend/components/form/InputField.tsx
  frontend/components/input/InputAction.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/login.tsx
  frontend/types/Size.ts
Labels: bug, Frontend, Refactor

#146 Refactor frontend
  frontend/components/Text.tsx
  frontend/components/deck/Deck.tsx
  frontend/components/deck/DeckOverview.tsx
  frontend/components/flashcard/Card.tsx
  frontend/components/flashcard/CardList.tsx
  frontend/components/flashcard/Flashcard.tsx
  frontend/components/form/FormButton.tsx
  frontend/components/form/InputField.tsx
  frontend/components/form/TextArea.tsx
  frontend/components/graphics/Badge.tsx
  frontend/components/graphics/KiokuAward.tsx
  frontend/components/group/Member.tsx
  frontend/components/group/MemberList.tsx
  frontend/components/input/Action.tsx
  frontend/components/input/Button.tsx
  frontend/components/input/DangerAction.tsx
  frontend/components/input/InputAction.tsx
  frontend/components/layout/Header.tsx
  frontend/components/layout/Section.tsx
  frontend/components/navigation/Tabs/CardsTab.tsx
  frontend/components/navigation/Tabs/DeckSettingsTab.tsx
  frontend/components/navigation/Tabs/DecksTab.tsx
  frontend/components/navigation/Tabs/GroupSettingsTab.tsx
  frontend/components/navigation/Tabs/MembersTab.tsx
  frontend/components/navigation/Tabs/TabBar.tsx
  frontend/components/navigation/Tabs/TabHeader.tsx
  frontend/components/navigation/Tabs/UserSettingsTab.tsx
  frontend/components/statistics/Statistic.stories.ts
  frontend/components/statistics/Statistic.tsx
  frontend/components/statistics/StatisticOverview.tsx
  frontend/pages/deck/[id]/index.tsx
  frontend/pages/group/[id]/index.tsx
Labels: Frontend, Refactor

#129 Fix button not clickable
  frontend/components/flashcard/Card.stories.ts
  frontend/components/flashcard/Card.tsx
  frontend/components/flashcard/CardList.tsx
  frontend/components/flashcard/Flashcard.stories.ts
  frontend/components/flashcard/Flashcard.tsx
  frontend/pages/deck/[id]/learn.tsx
Labels: bug, Frontend
