Repository kioku-project/kioku, pull requests merged in 2023-11, with the labels that each got.

#151 Add basic api testing
  backend/api-documentation/cards/get card.bru
  backend/api-documentation/cards/get cards.bru
  backend/api-documentation/cards/modify card side.bru
  backend/api-documentation/cards/modify card.bru
  backend/api-documentation/cards/new card side.bru
  backend/api-documentation/cards/new card.bru
  backend/api-documentation/decks/delete deck.bru
  backend/api-documentation/decks/get deck.bru
  backend/api-documentation/decks/get decks.bru
  backend/api-documentation/decks/get due cards.bru
  backend/api-documentation/decks/modify deck.bru
  backend/api-documentation/decks/new deck.bru
  backend/api-documentation/decks/pull learning.bru
  backend/api-documentation/decks/push learning.bru
  backend/api-documentation/groups/get group.bru
  backend/api-documentation/groups/get groups.bru
  backend/api-documentation/groups/get invitations.bru
  backend/api-documentation/groups/get members.bru
  backend/api-documentation/groups/get requests.bru
  backend/api-documentation/groups/invite user.bru
  backend/api-documentation/groups/leave group.bru
  backend/api-documentation/groups/manage invitation.bru
  backend/api-documentation/groups/manage request.bru
  backend/api-documentation/groups/modify group.bru
  backend/api-documentation/groups/new group.bru
  backend/api-documentation/groups/promote or demote.bru
  backend/api-documentation/user/delete user.bru
  backend/api-documentation/user/get due cards.bru
  backend/api-documentation/user/get invitations.bru
  backend/api-documentation/user/get user.bru
  backend/api-documentation/user/login.bru
  backend/api-documentation/user/register.bru
Labels: Test, Refactor

#133 Add modify user backend logic
  backend/api-documentation/user/delete user.bru
  backend/api-documentation/user/modify user.bru
  backend/pkg/helper/errors.go
  backend/pkg/helper/jwtHelper.go
  backend/services/frontend/handler/frontend.go
  backend/services/frontend/main.go
  backend/services/user/handler/user.go
  backend/services/user/proto/health.pb.go
  backend/services/user/proto/user.pb.go
  backend/services/user/proto/user.pb.micro.go
  backend/services/user/proto/user.proto
  backend/store/postgres.go
  backend/store/store.go
Labels: enhancement, Backend

#128 Rewrite group and deck types
  backend/pkg/converter/fiberSerializerTypes.go
  backend/pkg/converter/typeConverter.go
  backend/pkg/converter/typeConverter_test.go
  backend/pkg/helper/errors.go
  backend/pkg/model/deck.go
  backend/pkg/model/group.go
  backend/services/carddeck/Makefile
  backend/services/carddeck/handler/carddeck.go
  backend/services/carddeck/handler/health.go
  backend/services/carddeck/main.go
  backend/services/carddeck/proto/carddeck.pb.go
  backend/services/carddeck/proto/carddeck.proto
  backend/services/carddeck/proto/health.pb.go
  backend/services/carddeck/proto/health.pb.micro.go
  backend/services/carddeck/proto/health.proto
  backend/services/collaboration/Makefile
  backend/services/collaboration/handler/collaboration.go
  backend/services/collaboration/handler/health.go
  backend/services/collaboration/main.go
  backend/services/collaboration/proto/collaboration.pb.go
  backend/services/collaboration/proto/collaboration.proto
  backend/services/collaboration/proto/health.pb.go
  backend/services/collaboration/proto/health.pb.micro.go
  backend/services/collaboration/proto/health.proto
  backend/services/frontend/Makefile
  backend/services/frontend/handler/frontend.go
  backend/services/frontend/handler/health.go
  backend/services/frontend/main.go
  backend/services/frontend/proto/health.pb.go
  backend/services/frontend/proto/health.pb.micro.go
  backend/services/frontend/proto/health.proto
  backend/services/srs/Makefile
  backend/services/srs/handler/health.go
  backend/services/srs/main.go
  backend/services/srs/proto/health.pb.go
  backend/services/srs/proto/health.pb.micro.go
  backend/services/srs/proto/health.proto
  backend/services/user/Makefile
  backend/services/user/handler/health.go
  backend/services/user/main.go
  backend/services/user/proto/health.pb.micro.go
  backend/services/user/proto/health.proto
  backend/store/postgres.go
  backend/store/store.go
Labels: enhancement, Backend

#161 Fix security vulnerability
  frontend/package-lock.json
Labels: Dependencies, Frontend

#162 Fix sonarcloud bugs and codesmells
  frontend/components/deck/Deck.tsx
  frontend/components/graphics/Logo.tsx
  frontend/components/layout/Header.tsx
  frontend/components/layout/Section.tsx
  frontend/components/statistics/StatisticOverview.tsx
  frontend/pages/features.tsx
Labels: bug, Frontend, Refactor

#166 Fix sonarcloud issues
  frontend/components/deck/Deck.tsx
  frontend/components/graphics/Logo.tsx
  frontend/components/layout/Header.tsx
  frontend/components/layout/Section.tsx
  frontend/pages/deck/[id]/learn.tsx
  frontend/pages/features.tsx
  frontend/pages/login.tsx
Labels: bug, Frontend

#164 Add deck types and replace group types in frontend
  frontend/components/flashcard/Flashcard.tsx
  frontend/components/form/InputField.stories.ts
  frontend/components/form/InputField.tsx
  frontend/components/input/Action.tsx
  frontend/components/input/Button.stories.ts
  frontend/components/input/Button.tsx
  frontend/components/input/DangerAction.tsx
  frontend/components/input/InputAction.tsx
  frontend/components/input/ToggleAction.stories.tsx
  frontend/components/input/ToggleAction.tsx
  frontend/components/input/ToggleButtonGroup.stories.ts
  frontend/components/input/ToggleButtonGroup.tsx
  frontend/components/layout/Header.stories.ts
  frontend/components/layout/Header.tsx
  frontend/components/navigation/Navbar.tsx
  frontend/components/navigation/Tabs/DeckSettingsTab.tsx
  frontend/components/navigation/Tabs/GroupSettingsTab.tsx
  frontend/pages/deck/[id]/index.tsx
  frontend/pages/home.tsx
  frontend/pages/login.tsx
  frontend/types/Deck.ts
  frontend/types/Group.ts
Labels: enhancement, Frontend, Refactor

#167 Add i18n
  .github/workflows/search_missing_translations.yml
  docs/frontend_development.md
  frontend/.eslintrc.json
  frontend/.gitignore
  frontend/.storybook/main.ts
  frontend/.storybook/preview.tsx
  frontend/.swcrc
  frontend/components/deck/Deck.tsx
  frontend/components/deck/DeckOverview.tsx
  frontend/components/flashcard/Card.tsx
  frontend/components/flashcard/Flashcard.tsx
  frontend/components/form/InputField.tsx
  frontend/components/group/Member.tsx
  frontend/components/layout/Header.stories.ts
  frontend/components/layout/Header.tsx
  frontend/components/navigation/Navbar.tsx
  frontend/components/navigation/Tabs/DeckSettingsTab.tsx
  frontend/components/navigation/Tabs/GroupSettingsTab.tsx
  frontend/components/navigation/Tabs/StatisticsTab.tsx
  frontend/components/navigation/Tabs/UserSettingsTab.tsx
  frontend/components/statistics/StatisticOverview.tsx
  frontend/lingui.config.js
  frontend/locales/de/messages.d.ts
  frontend/locales/de/messages.po
  frontend/locales/de/messages.ts
  frontend/locales/en/messages.d.ts
  frontend/locales/en/messages.po
  frontend/locales/en/messages.ts
  frontend/next.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/_app.tsx
  frontend/pages/deck/[id]/index.tsx
  frontend/pages/deck/[id]/learn.tsx
  frontend/pages/features.tsx
  frontend/pages/group/[id]/index.tsx
  frontend/pages/home.tsx
  frontend/pages/index.tsx
  frontend/pages/login.tsx
Labels: enhancement, Frontend

#172 Refactor SWR
  frontend/components/deck/Deck.stories.ts
  frontend/components/deck/Deck.tsx
  frontend/components/deck/DeckOverview.tsx
  frontend/components/flashcard/CardList.tsx
  frontend/components/group/MemberList.tsx
  frontend/components/layout/Header.stories.ts
  frontend/components/layout/Header.tsx
  frontend/components/navigation/Tabs/InvitationsTabs.tsx
  frontend/pages/deck/[id]/index.tsx
  frontend/pages/deck/[id]/learn.tsx
  frontend/pages/group/[id]/index.tsx
  frontend/pages/index.tsx
  frontend/types/Deck.ts
  frontend/types/Group.ts
  frontend/types/Invitation.ts
  frontend/util/swr.ts
Labels: Frontend, Refactor

#173 Remove and fix padding
  frontend/pages/deck/[id]/index.tsx
  frontend/pages/group/[id]/index.tsx
  frontend/pages/index.tsx
Labels: bug, Frontend

#187 Fix learn card toast
  frontend/locales/de/messages.po
  frontend/locales/en/messages.po
  frontend/pages/deck/[id]/learn.tsx
Labels: bug, Frontend

#184 Fix infinite loading
  frontend/pages/login.tsx
  frontend/util/reauth.ts
Labels: bug, Frontend

#183 Fix user rename
  frontend/components/navigation/Tabs/UserSettingsTab.tsx
Labels: bug, Frontend

#191 Storybook improvements
  frontend/.storybook/main.ts
  frontend/.storybook/preview.tsx
  frontend/components/deck/Deck.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/deck/[id]/index.tsx
  frontend/pages/deck/[id]/learn.tsx
  frontend/pages/group/[id]/index.tsx
  frontend/pages/index.tsx
  frontend/public/mockServiceWorker.js
  frontend/util/reauth.ts
Labels: Frontend, Test

#188 Redesign deck component
  docs/kioku.svg
  frontend/components/Text.tsx
  frontend/components/deck/Deck.stories.ts
  frontend/components/deck/Deck.tsx
  frontend/components/deck/DeckList.tsx
  frontend/components/graphics/Cards.tsx
  frontend/components/graphics/Icon.tsx
  frontend/components/graphics/IconLabel.stories.ts
  frontend/components/graphics/IconLabel.tsx
  frontend/components/input/Button.tsx
  frontend/components/navigation/Tabs/DecksTab.tsx
  frontend/components/navigation/Tabs/GroupsTab.tsx
  frontend/components/navigation/Tabs/InvitationsTabs.tsx
  frontend/locales/de/messages.po
  frontend/locales/de/messages.ts
  frontend/locales/en/messages.po
  frontend/locales/en/messages.ts
  frontend/package-lock.json
  frontend/pages/login.tsx
  frontend/styles/globals.css
  frontend/tailwind.config.js
  frontend/types/Deck.ts
Labels: enhancement, Frontend, Refactor

#194 Refactor frontend
  frontend/components/Text.stories.ts
  frontend/components/Text.tsx
  frontend/components/deck/Deck.tsx
  frontend/components/deck/DeckList.tsx
  frontend/components/flashcard/Card.tsx
  frontend/components/flashcard/Flashcard.tsx
  frontend/components/form/FormButton.stories.ts
  frontend/components/form/FormButton.tsx
  frontend/components/form/InputField.stories.ts
  frontend/components/form/InputField.tsx
  frontend/components/graphics/IconLabel.tsx
  frontend/components/graphics/LoadingSpinner.tsx
  frontend/components/graphics/Logo.tsx
  frontend/components/group/Member.tsx
  frontend/components/group/MemberList.tsx
  frontend/components/input/Button.stories.ts
  frontend/components/input/Button.tsx
  frontend/components/input/DangerAction.stories.ts
  frontend/components/input/DangerAction.tsx
  frontend/components/input/InputAction.tsx
  frontend/components/input/ToggleAction.tsx
  frontend/components/input/ToggleButtonGroup.tsx
  frontend/components/layout/Header.tsx
  frontend/components/layout/Section.tsx
  frontend/components/navigation/Navbar.tsx
  frontend/components/navigation/Tabs/DeckSettingsTab.tsx
  frontend/components/navigation/Tabs/DecksTab.tsx
  frontend/components/navigation/Tabs/GroupSettingsTab.tsx
  frontend/components/navigation/Tabs/GroupsTab.tsx
  frontend/components/navigation/Tabs/InvitationsTabs.tsx
  frontend/components/navigation/Tabs/MembersTab.tsx
  frontend/components/navigation/Tabs/StatisticsTab.tsx
  frontend/components/navigation/Tabs/TabBar.tsx
  frontend/components/navigation/Tabs/TabHeader.tsx
  frontend/components/navigation/Tabs/UserSettingsTab.tsx
  frontend/components/statistics/Statistic.tsx
  frontend/components/statistics/StatisticOverview.tsx
  frontend/locales/de/messages.po
  frontend/locales/de/messages.ts
  frontend/locales/en/messages.po
  frontend/locales/en/messages.ts
  frontend/pages/deck/[id]/index.tsx
  frontend/pages/deck/[id]/learn.tsx
  frontend/pages/features.tsx
  frontend/pages/group/[id]/index.tsx
  frontend/pages/home.tsx
  frontend/pages/index.tsx
  frontend/pages/login.tsx
  frontend/util/api.ts
  frontend/util/reauth.ts
Labels: Frontend, Refactor

#192 Add monitoring namespace
  helm/kioku/templates/jaeger.yaml
Labels: bug, Deployment

#163 Add copy deck route
  backend/api-documentation/decks/copy deck.bru
  backend/api-documentation/decks/delete deck.bru
  backend/api-documentation/decks/modify deck.bru
  backend/pkg/converter/typeConverter.go
  backend/services/carddeck/handler/carddeck.go
  backend/services/carddeck/proto/carddeck.pb.go
  backend/services/carddeck/proto/carddeck.pb.micro.go
  backend/services/carddeck/proto/carddeck.proto
  backend/services/frontend/handler/frontend.go
  backend/services/frontend/main.go
  backend/services/srs/handler/srs.go
  backend/store/postgres.go
  backend/store/store.go
Labels: enhancement, Backend

#195 Add new login page design
  frontend/components/input/Button.tsx
  frontend/components/navigation/Navbar.tsx
  frontend/locales/de/messages.po
  frontend/locales/de/messages.ts
  frontend/locales/en/messages.po
  frontend/locales/en/messages.ts
  frontend/pages/home.tsx
  frontend/pages/login.tsx
Labels: enhancement, Frontend

#202 Add dashboard tab
  frontend/components/deck/Deck.tsx
  frontend/components/input/Button.tsx
  frontend/components/navigation/Tabs/DashboardTab.tsx
  frontend/locales/de/messages.po
  frontend/locales/de/messages.ts
  frontend/locales/en/messages.po
  frontend/locales/en/messages.ts
  frontend/pages/index.tsx
  frontend/stories/login.stories.ts
  frontend/util/swr.ts
Labels: enhancement, Frontend

#207 Fix login issue
  frontend/pages/login.tsx
  frontend/util/reauth.ts
Labels: bug, Frontend

#205 Replace routing elements with links
  frontend/components/deck/Deck.tsx
  frontend/components/input/Button.tsx
  frontend/components/layout/Header.tsx
  frontend/components/navigation/Navbar.tsx
  frontend/components/navigation/Tabs/GroupsTab.tsx
  frontend/pages/deck/[id]/learn.tsx
  frontend/pages/features.tsx
  frontend/pages/home.tsx
  frontend/pages/login.tsx
Labels: Frontend, Refactor
