Repository kioku-project/kioku, pull requests merged in 2024-02, with the labels that each got.

#227 Add ActionBar
  frontend/Dockerfile
  frontend/components/deck/DeckList.tsx
  frontend/components/group/GroupList.tsx
  frontend/components/input/ActionBar.tsx
  frontend/components/modal/CreateGroupModal.tsx
  frontend/components/navigation/Tabs/DecksTab.tsx
  frontend/components/navigation/Tabs/GroupsTab.tsx
  frontend/locales/de/messages.po
  frontend/locales/de/messages.ts
  frontend/locales/en/messages.po
  frontend/locales/en/messages.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.json
Labels: enhancement, Frontend

#248 Hotfix PWA
  backend/services/notification/handler/notification.go
  backend/services/notification/main.go
  docker-compose.yml
  frontend/.env.example
  frontend/util/swr.ts
  helm/kioku/templates/vapid_keys_secret.example.yaml
Labels: bug, Frontend, Backend, Deployment

#189 Add email to user settings
  frontend/components/input/InputAction.tsx
  frontend/components/navigation/Tabs/UserSettingsTab.tsx
  frontend/locales/de/messages.d.ts
  frontend/locales/de/messages.po
  frontend/locales/de/messages.ts
  frontend/locales/en/messages.d.ts
  frontend/locales/en/messages.po
  frontend/locales/en/messages.ts
Labels: enhancement, Frontend

#247 Fix various issues
  backend/api-documentation/decks/new deck.bru
  backend/pkg/converter/fiberSerializerTypes.go
  backend/pkg/converter/typeConverter.go
  backend/pkg/helper/errors.go
  backend/pkg/model/deck.go
  backend/pkg/proto/common.pb.go
  backend/pkg/proto/common.proto
  backend/services/carddeck/handler/carddeck.go
  backend/services/collaboration/handler/collaboration.go
  backend/services/frontend/handler/frontend.go
  backend/store/postgres.go
  frontend/components/deck/Deck.stories.ts
  frontend/components/deck/Deck.tsx
  frontend/components/deck/DeckList.tsx
  frontend/components/flashcard/Card.tsx
  frontend/components/flashcard/CardList.tsx
  frontend/components/flashcard/Flashcard.tsx
  frontend/components/form/InputField.tsx
  frontend/components/graphics/Logo.tsx
  frontend/components/group/Member.tsx
  frontend/components/input/ActionBar.tsx
  frontend/components/layout/Header.stories.ts
  frontend/components/layout/Header.tsx
  frontend/components/layout/Section.tsx
  frontend/components/modal/CreateDeckModal.tsx
  frontend/components/modal/modal.tsx
  frontend/components/navigation/Navbar.tsx
  frontend/components/navigation/Tabs/CardsTab.tsx
  frontend/components/navigation/Tabs/DeckSettingsTab.tsx
  frontend/components/navigation/Tabs/DecksTab.tsx
  frontend/components/navigation/Tabs/GroupSettingsTab.tsx
  frontend/components/navigation/Tabs/GroupsTab.tsx
  frontend/components/navigation/Tabs/TabBar.tsx
  frontend/locales/de/messages.po
  frontend/locales/de/messages.ts
  frontend/locales/en/messages.po
  frontend/locales/en/messages.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/_app.tsx
  frontend/pages/deck/[id]/index.tsx
  frontend/types/Deck.ts
  frontend/util/utils.ts
Labels: bug, Frontend, Backend, Refactor

#256 Adjust tabs for mobile devices
  frontend/components/layout/Header.tsx
  frontend/components/navigation/Tabs/TabBar.tsx
  frontend/components/navigation/Tabs/TabHeader.tsx
  frontend/pages/deck/[id]/index.tsx
  frontend/pages/group/[id]/index.tsx
  frontend/pages/index.tsx
Labels: bug, enhancement, Frontend

#252 Docker improvements and `docker compose watch` compability
  backend/services/carddeck/Dockerfile
  backend/services/collaboration/Dockerfile
  backend/services/frontend/Dockerfile
  backend/services/frontend/main.go
  backend/services/notification/Dockerfile
  backend/services/srs/Dockerfile
  backend/services/user/Dockerfile
  docker-compose.yml
  frontend/next.config.js
  helm/kioku/values.yaml
Labels: enhancement, Deployment

#261 Fix high severity vulnerability
  frontend/package-lock.json
  frontend/package.json
Labels: Dependencies, Frontend

#263 Add environment variables to pg_isready
  docker-compose.yml
Labels: bug, Backend

#253 Refactor post, put and delete requests
  frontend/components/deck/Deck.tsx
  frontend/components/flashcard/Card.tsx
  frontend/components/flashcard/Flashcard.tsx
  frontend/components/group/Member.tsx
  frontend/components/input/NotificationButton.tsx
  frontend/components/layout/Header.tsx
  frontend/components/modal/CreateDeckModal.tsx
  frontend/components/modal/CreateGroupModal.tsx
  frontend/components/navigation/Navbar.tsx
  frontend/components/navigation/Tabs/CardsTab.tsx
  frontend/components/navigation/Tabs/DeckSettingsTab.tsx
  frontend/components/navigation/Tabs/GroupSettingsTab.tsx
  frontend/components/navigation/Tabs/UserSettingsTab.tsx
  frontend/locales/de/messages.po
  frontend/locales/de/messages.ts
  frontend/locales/en/messages.po
  frontend/locales/en/messages.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/_app.tsx
  frontend/pages/deck/[id]/index.tsx
  frontend/pages/deck/[id]/learn.tsx
  frontend/pages/group/[id]/index.tsx
  frontend/pages/login.tsx
  frontend/util/api.ts
  frontend/util/endpoints.ts
  frontend/util/swr.ts
Labels: Frontend, Refactor

#264 Add default sorting for decks, groups and group members
  backend/pkg/comparators/modelComparators.go
  backend/pkg/comparators/protoComparators.go
  backend/pkg/model/group.go
  backend/services/carddeck/handler/carddeck.go
  backend/services/collaboration/handler/collaboration.go
  backend/store/postgres.go
Labels: enhancement, Backend
