Repository kioku-project/kioku, pull requests merged in 2024-03, with the labels that each got.

#266 Add generated message.ts files to .gitignore
  frontend/.gitignore
  frontend/locales/de/messages.d.ts
  frontend/locales/de/messages.ts
  frontend/locales/en/messages.d.ts
  frontend/locales/en/messages.ts
Labels: Frontend

#240 Remove e-mail logging
  .gitignore
  backend/services/user/handler/user.go
  backend/store/postgres.go
Labels: bug, Backend

#267 Create Selection Field Component
  frontend/components/input/SelectionField.stories.ts
  frontend/components/input/SelectionField.tsx
  frontend/components/modal/modal.tsx
  frontend/pages/index.tsx
Labels: enhancement, Frontend

#265 Fix error handling in frontend and backend
  backend/pkg/helper/errors.go
  backend/pkg/helper/errors_test.go
  backend/pkg/helper/jwtHelper.go
  backend/pkg/helper/security.go
  backend/services/collaboration/handler/collaboration.go
  backend/services/frontend/handler/frontend.go
  backend/services/frontend/main.go
  backend/services/user/handler/user.go
  backend/store/postgres.go
  frontend/components/graphics/LoadingSpinner.stories.ts
  frontend/components/graphics/LoadingSpinner.tsx
  frontend/components/input/NotificationButton.tsx
  frontend/components/navigation/Navbar.tsx
  frontend/components/navigation/Tabs/UserSettingsTab.tsx
  frontend/locales/de/messages.po
  frontend/locales/en/messages.po
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/_app.tsx
  frontend/pages/login.tsx
  frontend/util/api.ts
  frontend/util/toasts.ts
Labels: bug, Frontend, Backend, Refactor

#284 Bump backend dependencies
  backend/go.mod
  backend/go.sum
Labels: Dependencies, Backend
